
<div style="padding: 20px; ">
    <i class="fas fa-shopping-cart fa-3x" style="opacity: 80%; color: orangered;"></i>
    <button class="btn btn-lg btn-primary" type="submit" 
    style="width: 100%; background-color: orange; border-width: 0px; 
    margin-bottom: 7px; margin-top: 7px;">
    Ver carrito
    </button>
</div>