@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";

body, .jumbotron {
    background-color: white;
}

a:link, a:visited {
    text-decoration: none;
    display: inline-block;
    color: #5f5f5f;
}

a:hover, a:active {
    text-decoration: none;
    color: black;
}

ul.listaDeElementos{
    list-style-type: none;
}