.box:hover {
    box-shadow: 8px 13px 11px #888888;
    cursor:zoom-in;
}

.carousel-indicators li { visibility: hidden; }

.carousel-item li {
    display: inline;
    float: left;
}

.box {
    /*
    width: 80px;
    height: 80px;
    */
    position: relative;
    box-shadow: 5px 10px 8px #888888;
    clear: both;
}


.carousel-control{
    width: 4%;
}

.out {
    padding: 25px;
    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    /*
    background-color: #555;
    background-color: lightsteelblue;
    border: 3px solid #aaa;
    */
  }
  
  .in {
    top: 0;
    /*
    left: 15px;
    width: calc(50% + 6px);
    height: 50%;
    */
    position: absolute;
    background-color: rgba(255, 0, 0, 0.5);
  }

.carousel{
    /*
    background-color: red;
    */
    left: 0;
    width: 100%;
    position:absolute;
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: orange;
    /*
    background-color: gray;
    */
}