.miul{
    margin: 10px;
    padding: 0px;
    box-shadow: 0px 0px 10px 5px #888888;
    /* shadow: x y difuminado desbordado*/
    list-style-type: none;
}

.miul li{
    margin: 0px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 15px 10px -10px #888888;
}

.miul i{
    color: orangered;
}

#laX{
    display: inline-flex;
    -ms-transform: rotate(-10deg); 
    transform: rotate(-10deg); 
    -webkit-transform: rotate(-10deg); 
}

#cartel div{
    display: inline-flex;
}

.losPagos{
    text-align: center;
}

.losPagos td{
    max-width: 20px;
}

.losPagos table{
    margin-top: 25px;
    margin-bottom: 0px;
}

.losPagos td img{
    width: 80px;
    height: 60px;
}