.list-group-item{
    /*border: none;*/
}

.list-group{
    width: 100%;
}

.precio .h2
{ 
    box-shadow: 3px 5px 4px #888888;
}

.path
{
    padding:7px; 
    margin:10px; 
    background-color: rgb(155, 154, 154);
    width: 100%;
}

.path i{
    color:white;
}

.path span{
    color: black;
}

.fa-star:hover{
    cursor:s-resize;
    color: orangered;
}

.clasificacion i{
    display: inline; 
    color:grey; 
    text-shadow: 2px 5px 2px #99978888;
}

.badge{
    vertical-align: top;
    color: white; 
    background-color:  orangered; 
    box-shadow: 3px 5px 4px #888888;
}





.descripcion{
    margin: 10px;
    width: 90%; 
    height: 500px;
    margin-bottom: 20px;
}