.badge{
    vertical-align: top;
    color: white; 
    background-color:  orangered; 
    box-shadow: 3px 5px 4px #888888;
}

.descripcion{
    text-indent: 20px;
}

.carousel{
    bottom: -150px;
    float: left;
}

.details span:nth-child(odd)
{
    float: left;
}

.details span:nth-child(even)
{
    float: right;
}