@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";

body, .jumbotron {
    background-color: white;
}

a:link, a:visited {
    text-decoration: none;
    display: inline-block;
    color: #5f5f5f;
}

a:hover, a:active {
    text-decoration: none;
    color: black;
}

ul.listaDeElementos{
    list-style-type: none;
}


.fa-caret-down
{
    position: absolute;
    right: 5px;
}

#MainMenu .list-group-item
{
    width: 100%;
}

.path
{
    padding:7px; 
    margin:10px; 
    background-color: rgb(155, 154, 154);
    width: 100%;
}

.path i{
    color:white;
}

.path span{
    color: black;
}