@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";


body, .jumbotron {
    background-color: white;
}

a:link, a:visited {
    text-decoration: none;
    display: inline-block;
    color: #5f5f5f;
}

a:hover, a:active {
    text-decoration: none;
    color: black;
}

ul.listaDeElementos{
    list-style-type: none;
}


.fa-caret-down
{
    position: absolute;
    right: 5px;
}

#MainMenu .list-group-item
{
    border-bottom: none;
    border-top: none;
    padding: 5px;
    width: 100%;
}

/*
#MainMenu .collapse .list-group-item 
{
    background-color: rgb(228, 223, 223);
}

#MainMenu .list-group-submenu .list-group-item 
{
    background-color: rgb(245, 202, 178);
}
*/

/*._28_05_€*/
.precio {
    color: black;
    text-shadow: 0px 3px 2px white, 0px 4px 2px rgb( 117, 117, 117 );
    font-size: 170%;
    font-family: "Verdana";
    font-weight: bold;
  }

  /*.Rectangle_3*/
  .barra2_fondo   {
    background-image: -moz-linear-gradient( 90deg, rgb( 0, 0, 0 ) 0%, rgb( 69, 73, 77 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 0, 0, 0 ) 0%, rgb( 69, 73, 77 ) 100%);
  }

  .other-box-index {
    box-shadow: 3px 8px 6px #888888;
    clear: both;
}

/*Responsive*/
* {
    box-sizing: border-box;
}

.tableMode1{
    display:block;
}

.tableMode2{
    display: none;
}

@media screen and (max-width:800px) and (min-width:600px)
{
    .precio{
        font-size: 100%;
    }

    .pname{
        font-size: 30%;
    }
}

@media screen and (max-width:700px)  {
    
    .tableMode1{
        display:none;
    }
    
    .tableMode2{
        display: block;
    }
  }