#visualizacion_listado input{
    width: 20px;
    height: 25px;
  }
  
  #visualizacion_listado ul li{
    border: none;
    display: inline;
    float: right;
  }  
  
  #visualizacion_listado ul
  {
    /*
    float: right;
    margin-bottom: 50px; 
    */
    border-bottom: 1px solid rgb( 224, 224, 224 );
    margin-top: 10px;
    padding-bottom: 40px;
  }

.path
{
    padding:7px; 
    margin-top:4px;
    background-color: rgb( 206, 206, 205 );
    width: 100%;
}

.path i{
    color:white;
}

.path span{
    color: black;
}

/*.Estás_en:_Inicio___Relojes_y_joyas___Colgantes_*/
.estás_en {
    font-size: 0.423cm;
    font-family: "Verdana";
  }