#visualizacion_listado input{
    width: 20px;
    height: 25px;
  }
  
  #visualizacion_listado ul li{
    border: none;
    display: inline;
  }

  
  #visualizacion_listado ul
  {
    text-align: right;
  }

.path
{
    padding:7px; 
    margin-top:4px;
    background-color: rgb( 206, 206, 205 );
    width: 100%;
}

.path i{
    color:white;
}

.path span{
    color: black;
}

/*.Estás_en:_Inicio___Relojes_y_joyas___Colgantes_*/
.estás_en {
    font-size: 100%;
    font-family: "Verdana";
  }


@media screen and (max-width:500px)
{ 
  #visualizacion_listado ul li{
    display: list-item;
    padding: 10px;
  }

  #visualizacion_listado ul{
    padding-left: 5px;
  }

  #visualizacion_listado ul
  {
    text-align: center;
  }
}




/* Custom select */
#visualizacion_listado .dropdown-menu li{
  display: block;
  width: 100%;
  text-align: left;
}

#visualizacion_listado .dropdown-menu{
  padding: 5px;
  width: 60%;
}

#visualizacion_listado .dropdown a{
  text-decoration: none;

}

#visualizacion_listado .dropdown-toggle .selectorValue{
  border: 2px solid #b6b1b1;
  color: rgb( 176, 82, 13 );
  font-family: "Verdana";
  padding: 8px;
}


.dropdown-toggle::after {
  /*display:none;*/
  color: rgb( 237, 109, 37 );
}