/*._____Todo_el_catálogo_____Envios_y_devoluciones*/
.nav-item a {
    font-size: 100%;
    font-family: "Verdana";
    color: white !important;
  }

  @media screen and (max-width:767px) {
    .navbar {
      padding-left: 4px;
      padding-right: 4px;
      
      /*position: relative;*/
      text-align: center;
      display: inherit;
    }



    .nav-item{
      text-align: center;

      /*
      display: block;
      float: none;
      position: relative;
      */
    }  
  }