/*._____Todo_el_catálogo_____Envios_y_devoluciones*/
.barra2_texto {
    font-size: 0.423cm;
    font-family: "Verdana";
    height: 0.459cm;
    /*
    width: 12.524cm;
    color: rgb( 237, 110, 38 );
    text-align: right;
    position: absolute;
    left: 20.5669444444444cm;
    top: 6.80861111111111cm;
    z-index: 184;
    */
  }
  