.navbar-up{
    background-color: orangered; 
    padding: 10px;
}

.mispan{
    position: absolute;
    right: 5px;
}

.mispan a{
    color: white;
}

.dropdown-menu a{
    color: darkslategray !important;
}