.mispan{
    position: absolute;
    right: 5px;
}

.mispan a{
    color: white;
}

.dropdown-menu a{
    color: darkslategray !important;
}

/*.Rectangle_1_copy*/
.bara1_fondo {
    background-image: -moz-linear-gradient( 90deg, rgb( 237, 109, 37 ) 0%, rgb( 251, 176, 96 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 237, 109, 37 ) 0%, rgb( 251, 176, 96 ) 100%);
    height: 1.87cm;
    /*
    width: 35.983cm;
    position: absolute;
    left: 10.16cm;
    top: 4.657cm;
    z-index: 172;
    */
  }
#buscador_input
{
    width: 20%;
}
#buscador_input::-webkit-input-placeholder
{
    background-image: url("../../exact_images/buscador.png");
    background-position: 100% 100%;
    background-size: 10%;
    background-repeat: no-repeat; 
    /*
    color: transparent;
    text-indent: -9999px;
    */
}  

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}


/*.Nueva_cuenta_____Iniciar_seción*/
.nueva_cuenta {
    font-size: 0.423cm;
    font-family: "Verdana";
    color: rgb( 255, 255, 255 );
    /*
    position: absolute;
    left: 38.8761111111111cm;
    top: 5.46805555555556cm;
    width: 6.456cm;
    height: 0.459cm;
    z-index: 179;
    */
  }
  