#buscador_input
{
    width: 17%;
}
#buscador_input::-webkit-input-placeholder
{
    background-image: url("../../exact_images/buscador.png");
    background-position: 100% 100%;
    background-size: 10%;
    background-repeat: no-repeat; 
    /*
    background-size: 3%;
    color: transparent;
    text-indent: -9999px;
    */
}  

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.mispan{
    position: absolute;
    right: 5px;
    padding-left: 7px;
    text-align: end;
}

.mispan a{
    color: white;
}

.dropdown-menu a{
    color: darkslategray !important;
}

/*.Rectangle_1_copy*/
.bara1_fondo {
    background-image: -moz-linear-gradient( 90deg, rgb( 237, 109, 37 ) 0%, rgb( 251, 176, 96 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 237, 109, 37 ) 0%, rgb( 251, 176, 96 ) 100%);
  }



/*.Nueva_cuenta_____Iniciar_seción*/
.nueva_cuenta {
    font-size: 90%;
    font-family: "Verdana";
    color: rgb( 255, 255, 255 ) !important;
    padding-top: 2px;
    padding-bottom: 2px;
    /*padding: 7px !important;*/
  }

  @media screen and (min-width:600px) and (max-width:1000px)  {
    #buscador_input{
        width: 30%;
    }

    #buscador_input::-webkit-input-placeholder
    {
        background-size: 10%;
    }  
  }

  @media screen and (max-width:600px) {
    .navbar {
        position: relative;
        padding-left: 4px;
        padding-right: 4px;
    }

    .mispan{
      display: block;
      text-align: left;
      float: none;
      position: relative;
    }

    #buscador_input{
        width: 90%;
    }

    #buscador_input::-webkit-input-placeholder
    {
        background-size: 7%;
    }  
  }
  