/*.Reloj_de_pared_melodía_ave*/
#cuadro_carrito_texto {
    font-size: 100%;
    font-family: "Verdana";
    text-align: right;

    position: absolute;
    right: 5px;
    top: 5px;
    width: 55%;
  }

  /*.Rounded_Rectangle_3_copy_36*/
  #ver_carrito_boton {
    border-style: solid;
    border-width: 0.03527777777778cm;
    border-color: rgb( 204, 204, 204 );
    background-image: -moz-linear-gradient( 90deg, rgb( 255, 153, 30 ) 23.584%, rgb( 255, 215, 77 ) 76.758%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 255, 153, 30 ) 23.584%, rgb( 255, 215, 77 ) 76.758%);
  }

  #Rectangle_10 {
    background-color: rgb( 235, 235, 235 );
  }

  #_1 {
    font-size: 80%;
    font-family: "Verdana";
    color: rgb( 255, 129, 59 ) !important;
    font-weight: bold;
  }
  
  #_0000_00_€ {
    font-size: 80%;
    font-family: "Verdana";
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    word-break: break-all;
  }
  

  /*.Cantidad*/
  .cantidad_texto {
    font-size: 67%;
    font-family: "Verdana";
    color: rgb( 168, 167, 166 );
    word-break: break-all;
  }

  #cant_sub p{
    margin-bottom: 0px !important;
  }
  
  

  #_1_x_0000_00_€ {
    font-size: 90%;
    font-family: "Verdana";
    color: black;
    text-align: left;
  }
  

  .Ver_carrito {
    font-size: 100%;
    font-family: "Verdana";
    color: rgb( 255, 255, 255 ) !important;
    text-shadow: 0.018cm 0.031cm 0.03527777777778cm rgb( 0, 0, 0 );
  }