.box:hover {
    box-shadow: 8px 13px 11px #888888;
    cursor:zoom-in;
}

.carousel-indicators li { visibility: hidden; }

.carousel-item li {
    display: inline;
    /*float: left;*/
}

.carousel-item li .box{
    display:inline-flex;
    /*float: left;*/
}

/*
.carousel-control{
    width: 1%;
}
*/

.other-box {
    /*
    position: relative;
    left: 10px;
    top: 20px;
    height: 200px;
    width: 200px;
    */
    margin-bottom: 20px;
    box-shadow: 3px 8px 6px #888888;
    clear: both;
}

.box {
    /*
    width: 80px;
    height: 80px;
    position: relative;
    */
    box-shadow: 2px 8px 6px #888888;
    clear: both;
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: orange;
    /*
    background-color: gray;
    */
}

@media screen and (max-width:767px)
{
    #elCarrusel{
        width: 60%;
    }
}