.box:hover {
    box-shadow: 8px 13px 11px #888888;
    cursor:zoom-in;
}

.carousel-indicators li { visibility: hidden; }

.carousel-item li {
    display: inline;
    float: left;
}

.carousel-control{
    width: 4%;
}

.carousel{
    width: 100%;
    /*
    left: 0;
    position:relative;*/
}

.other-box {
    /*
    top: 20px;
    */
    position: relative;
    left: 10px;
    height: 200px;
    width: 200px;
    margin: 20px;
    box-shadow: 3px 8px 6px #888888;
    clear: both;
}

.box {
    /*
    width: 80px;
    height: 80px;
    position: relative;
    */
    box-shadow: 5px 10px 8px #888888;
    clear: both;
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: orange;
    /*
    background-color: gray;
    */
}