/*.Rounded_Rectangle_3_copy*/
.categorias_cartel {
    background-image: -moz-linear-gradient( 90deg, rgb( 0, 0, 0 ) 0%, rgb( 69, 73, 77 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 0, 0, 0 ) 0%, rgb( 69, 73, 77 ) 100%);
  }

  .Categorías {
    font-size: 120%;
    font-family: "Verdana";
    color: rgb( 255, 255, 255 );
  }

/*.Audio__TV_y_reproductores_Bebés_y__niños_Bellez*/
.sidebar_texto {
  font-size: 100%;
  font-family: "Verdana";
  color: rgb( 0, 0, 0 );
  text-align: left;
}

/*.________________________*/
.sidebar_carets {
  font-size: 100%;
  color: rgb( 237, 109, 37 );
}

.Rounded_Rectangle_3 {
  border-style: solid;
  border-width: 0.03527777777778cm;
  border-color: rgb( 224, 224, 224 );
  background-image: -moz-linear-gradient( 90deg, rgb( 242, 245, 246 ) 0%, rgb( 231, 231, 231 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 242, 245, 246 ) 0%, rgb( 231, 231, 231 ) 100%);
}

.Pagos_seguros {
  font-size: 100%;
  font-family: "Verdana";
}