.selected_words{
    color: #fc5e04;
}


#lo_mas_comprado i
{
  color: #ed6d25;
}

.container{
  margin-top: 30px;
}

.bloque_gris .list-group-item{
  /*height: 20px;*/
  padding: 0px;
  background-color: rgb( 240, 238, 238 );
  border: none;
}

.container-fluid, container{
  margin-bottom: 30px;
}


.Lorem_ipsum_dolor_sit_amet__consectetuer_adipis {
    font-size: 100%;
    font-family: "Verdana";
    color: rgb( 87, 87, 87 );
    text-align: justifyLeft;
  } 
  
  #¿Por_que_comprar_en_Xatem_ {
    font-size: 180%;
    font-family: "Verdana";
    text-align: center;
  }
  

  /*#Xatem_es_el_Multiprecio_o_todo_a_cien_más_grand*/
  #Xatem_es_el_Multiprecio {
    font-size: 250%;
    font-family: "Verdana";
    /*color: rgb( 237, 109, 37 );*/
    font-weight: normal;
    text-align: center;
  }

  /*.Lorem_ipsum__dolor_sit_amet*/
  .Lorem_ipsum__cortico {
    font-size: 100%;
    vertical-align:middle;
    font-family: "Verdana";
    color: rgb( 0, 0, 0 );
    
    position: relative;
    display: inline-block;
    right: 0px;
    top:0px;
    width: 60%;
  }

  /*.Búsquedas_recientes*/
  .third_bloque_texto {
    font-size: 100%;
    font-family: "Verdana";
    margin-bottom: 5px;
  }

  /*.Lo___comprado*/
 .caja_gris_carteles {
    font-size: 100%;
    margin-bottom: 5px;
    font-family: "Verdana";
    font-weight: bold;
  }
  
  /*._4Impuestos_4Formas_de_pago_4Entrega_y_envío_4Ga*/
  .caja_gris_plecas {
    font-size: 100%;
    color: rgb( 0, 0, 0 );
    text-align: justifyLeft;
  }


  /*.Rectangle_12*/
  .bloque_gris {
    background-color: rgb( 240, 238, 238 );
    padding-bottom: 10px;
    padding-top: 7px;
  }

  .bloque_gris table td:last-child {
    width: 20%;
  }

  

  .bloque_gris table td {
    padding-top: 10px !important;
    margin-top: 10px !important;
    padding-left: 10px;
    vertical-align: top !important;
  }
  
  /*.Los_precios_de_venta_no_incluyen_el_I_V_A_ni_la*/
  .precios_venta_footer {
    padding: 20px;
    border-bottom: 2px solid rgb( 224, 224, 224 );

    font-family: "Verdana";
    color: rgb( 84, 83, 83 );
    text-align: center;
  }
  
  /*.Copyright_©_2013_Xatem__Todos_los_derechos_rese*/
  .Copyright {
    font-size: 70%;
    font-family: "Verdana";
    color: rgb( 84, 83, 83 );
    line-height: 2;
    text-align: center;
    padding: 10px;
  }
  

  /*.Manguera_¦_Reloj_¦_Regadera_¦_Cepillo_¦_Pasta__*/
  .nube_manguera {
    font-family: "Verdana";
    color: rgb( 109, 109, 109 );
    line-height: 1.715;
    text-align: justifyCenter;
  }

  /*
  .nube_manguera:nth-child(2){
    font-size: 0.47cm;
  }
  */

  .listaBolitas img{
    margin: 5px;
  }

  
  @media screen and (max-width:767px)
  {
    footer{
      text-align: center;
    }
    .listaBolitas img{
      width: 10%;
    }
    #Xatem_es_el_Multiprecio{
      font-size: 170%;
    }

    #¿Por_que_comprar_en_Xatem_{
      font-size: 120%;
    }
      .third_bloque_texto{
          text-align: left !important;
          margin-top: 15px;
      } 
      
      .caja_gris_carteles {
        margin-top: 15px;
      }
      
      .bloque_gris div[class^="col-"] 
      { 
        padding-left: 50px;
        margin-bottom: 10px;
      }
  }