.miul{
    margin: 10px;
    padding: 0px;
    box-shadow: 0px 0px 10px 5px #888888;
    /* shadow: x y difuminado desbordado*/
    list-style-type: none;
    text-align: left;
}

.miul img
{
    /*
    width: 30px; height: 30px;
    */
    width: 8%;
}

.miul li{
    margin: 0px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 15px 10px -10px #888888;
}

#laX{
    display: inline-flex;
    -ms-transform: rotate(-10deg); 
    transform: rotate(-10deg); 
    -webkit-transform: rotate(-10deg); 
}

#cartel div{
    display: inline-flex;
}

.losPagos{
    text-align: center;
    padding: 0px 3px;
}

.losPagos td{
    max-width: 20px;
    border-top: none;
    padding: 3px;
}

.losPagos table{
    margin-top: 25px;
    margin-bottom: 0px;
}

.losPagos td img{
    width: 65%;
    /*
    width: 80px;
    height: 60px;
    */
}

/*Los estilos pesados*/

/*.Transferencia_bancaria*/
.losPagos td p {
    font-family: "Verdana";
    color: rgb( 10, 9, 10 );
    font-size: 100%;
  }  


.¡Paga_como_quieras_ {
font-size: 200%;
font-family: "Verdana";
color: rgb( 149, 64, 2 );
}
  
/*.Descuentos_por_cantidades_Venta_al_por_mayor_B2*/
.descuentos_texto {
    font-family: "Verdana";
    color: rgb(9, 17, 26);
    font-size: 100%;
  }  
  
  /*.Todo_lo_que_buscas____y_mucho_mas_*/
  .Todo_lo_que_buscas {
    font-family: "Arial";
    font-size: 120%;
    line-height:93%;
    margin-bottom: 5px;
    color: rgb( 179, 169, 162 );
    -moz-transform: matrix( 0.87216336164987, 0, 0, 0.89442078829567, 0, 0);
  }

  .xatem_mail_hotmail_com {
    font-family: "Verdana";
    color: rgb( 237, 110, 38 );
  }