
.miul{
    margin: 10px;
    padding: 0px;
    /*   
    box-shadow: 25px 5px 10px -25px #888888, -25px 5px 10px -25px #888888, 0px -22px 10px -25px #888888;
    -moz-box-shadow: 25px 5px 10px -25px #888888, -25px 5px 10px -25px #888888, 0px -22px 10px -25px #888888;
    */
    -webkit-box-shadow: 25px 5px 10px -25px #888888, -25px 5px 10px -25px #888888, 0px -22px 10px -25px #888888;
    /* shadow: x y difuminado desbordado*/
    list-style-type: none;
    text-align: left;
}

.miul img
{
    /*
    width: 30px; height: 30px;
    */
    width: 8%;
}

.miul li{
    margin: 0px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 15px 10px -16px #888888;
}

#laX{
    display: inline-flex;
    -ms-transform: rotate(-10deg); 
    transform: rotate(-10deg); 
    -webkit-transform: rotate(-10deg); 
}

#cartel div{
    display: inline-flex;
}

.losPagos{
    text-align: center;
    padding: 0px 2px 0px 3px;
}

.losPagos td{
    max-width: 17%;
    border-top: none;
    padding: 3px;
}

.losPagos table{
    margin-top: 25px;
    margin-bottom: 0px;
}

.losPagos ul{
    padding-left: 0px;
}

.losPagos td img{
    width: 65%;
}

.losPagos li img{
    width: 35%;
}

/*Los estilos pesados*/

/*.Transferencia_bancaria*/
.losPagos td p, .losPagos li p {
    font-family: "Verdana";
    color: rgb( 10, 9, 10 );
    font-size: 100%;
  }  


.¡Paga_como_quieras_ {
font-size: 200%;
font-family: "Verdana";
color: rgb( 149, 64, 2 );
}
  
/*.Descuentos_por_cantidades_Venta_al_por_mayor_B2*/
.descuentos_texto {
    font-family: "Verdana";
    color: rgb(9, 17, 26);
    font-size: 100%;
  } 
  
#xatem_imagen{
    width: 95%; 
    height: 40%;
}
  
/*.Todo_lo_que_buscas____y_mucho_mas_*/
.Todo_lo_que_buscas {
font-family: "Arial";
font-size: 120%;
line-height:93%;
margin-bottom: 5px;
color: rgb( 179, 169, 162 );
-moz-transform: matrix( 0.87216336164987, 0, 0, 0.89442078829567, 0, 0);
}

.xatem_mail_hotmail_com {
font-family: "Verdana";
font-size: 100%;
color: rgb( 237, 110, 38 );
}

@media screen and (max-width:768px)
{
    #xatem_imagen{
        width: 65%; 
    }

    .descuentos_texto img{
        width: 5%;
    }

    .miul, header{
        text-align: center;
    }
}

@media screen and (max-width:1000px) and (min-width:768px)
{  
  .descuentos_texto{
      font-size: 60%;
  }

  #xatem_imagen{
      width: 85%; 
      height: 35%;
  }

  .Todo_lo_que_buscas{
      font-size: 80%;
  }

  .xatem_mail_hotmail_com {
      font-size: 70%;
    }

    .¡Paga_como_quieras_ {
        font-size: 150%;
    }


    .losPagos td p, .losPagos li p {
        font-size: 60%;
    }
}