tbody tr:nth-child(odd) td {
    margin-bottom: 0;
    padding-bottom: 0;
}

.table>tbody>tr>td {
  border-top: none;
}

.table{
  text-align: center;
}

.pname{
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
}

.texto-vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align-last: right;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    /*
    text-align: left;
    unicode-bidi: bidi-override;
    */
}

.ver-mas{
    writing-mode: horizontal-tb;
    transform: rotate(180deg);
    color: white; 
    position: absolute; 
    top: 3px; 
    left: 5px;
    text-align: center;
}


/* Estilos pesados */
/*.Rectangle_7_copy*/
.novedades_fondo {
    background-image: -moz-linear-gradient( 180deg, rgb( 237, 109, 37 ) 0%, rgb( 251, 176, 96 ) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb( 237, 109, 37 ) 0%, rgb( 251, 176, 96 ) 100%);
  }


  /*.novedades*/
  .novedades_texto {
    font-size: 0.659cm;
    font-family: "Verdana";
    font-weight: bold;
    text-align: right;
    -moz-transform: matrix( 0, -1.30262564375489, 1.28373996945883, 0, 0, 0);
    -webkit-transform: matrix( 0, -1.30262564375489, 1.28373996945883, 0, 0, 0);
    /*
    color: rgb( 255, 255, 255 );
    position: absolute;
    left: 18.9088888888889cm;
    top: 10.795cm;
    z-index: 241;
    */
    width: 0.67cm;
    height: 4.586cm;
  } 


  /*.Rectangle_7_copy_2*/
  .lo_mas_popular_fondo {
    background-image: -moz-linear-gradient( 180deg, rgb( 0, 0, 0 ) 0%, rgb( 69, 73, 77 ) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb( 0, 0, 0 ) 0%, rgb( 69, 73, 77 ) 100%);
    /*
    position: absolute;
    left: 18.627cm;
    top: 29.457cm;
    width: 1.27cm;
    height: 9.313cm;
    z-index: 210;
    */
  }


  /*.Rectangle_7_copy_3*/
  .mejor_valorados_fondo {
    background-image: -moz-linear-gradient( 180deg, rgb( 116, 117, 118 ) 0%, rgb( 210, 212, 214 ) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb( 116, 117, 118 ) 0%, rgb( 210, 212, 214 ) 100%);
  }


@media screen and (max-width:700px)  {
  #todosLosProductos .col-md-0{
      float: left;
  }
  #todosLosProductos .col-md-10{
    float: right;
    border: 2px solid hotpink;
}
}