.similares_box
{
    height: 70px;
    width: 70px;
}

.similares_table
{
    text-align: center;
    width: 100%;
}

.similares_table td
{
    border: none;
    margin-right: 20px;
}

.list-group-item{
    border: none;
}

.list-group{
    width: 100%;
}


#descuentos tbody tr:nth-child(odd)
{
    background-color: rgb( 254, 224, 194 );
}

/*._12_36_€_11_73_€_11_10_€_10_47_€_9_84_€_9_21_€*/
#descuentos tbody td
 {
   padding: 0px !important;


    font-size: 0.423cm;
    font-family: "Verdana";
    color: #6d6966;
  }
  

#descuentos 
{ 
    text-align: center;
    width: 100%;
}

.calificacion figure{
    display: inline; 
    /*
    color:grey; 
    text-shadow: 2px 5px 2px #99978888;
    */
}


.descripcion{
    margin: 10px;
    margin-bottom: 20px;
}


/*.Calificación:*/
.carteles_producto_texto {
    font-family: "Verdana";
    font-weight: normal;
    font-size: small;
    /*
    text-align: justifyLeft;
    position: absolute;
    left: 37.8177777777778cm;
    top: 13.6877777777778cm;
    width: 2.505cm;
    height: 0.353cm;
    z-index: 121;
    */
  }

  /*.Precio*/
  .descuentos_header_texto {
    font-size: 0.423cm;
    font-family: "Verdana";
    color: rgb( 254, 128, 58 );
    line-height: 2.002;
  }


  /*.Descuentos_para_compras_de_más_de_1_unidad*/
  #encabezado_texto {
    font-size: 0.403cm;
    font-family: "Verdana";
    color: rgb( 128, 128, 128 );
  }

  /*.Lorem_ipsum_dolor_sit_amet__consectetuer_adipis*/
  .descripcion_texto {
    font-size: 0.423cm;
    font-family: "Verdana";
    color: rgb( 0, 0, 0 );
    text-align: justifyLeft;
    position: absolute;
    left: 29.8802777777778cm;
    top: 22.8952777777778cm;
    width: 15.522cm;
    height: 3.986cm;
    z-index: 109;
  } 
  
  ._32_05_€ {
    font-family: "Verdana";
    color: rgb( 117, 117, 117 );
    font-weight: bold;
    text-decoration: line-through;
  }
  

  #Productos_similares {
    font-size: 0.494cm;
    font-family: "Verdana";
    font-weight: bold;
    line-height: 1.285;
    text-align: left;
  }

/*.Agregar_a_carrito_Ú*/
.agregar_al_carrito_texto {
  font-size: 0.494cm;
  font-family: "Verdana";
  color: rgb( 251, 251, 251 );
  line-height: 1.715;
  text-align: left;
}

/*.Rounded_Rectangle_3_copy_37*/
.agregar_al_carrito_boton {
  border-style: solid;
  border-width: 0.03527777777778cm;
  border-color: rgb( 201, 93, 0 );
  background-image: -moz-linear-gradient( 90deg, rgb( 237, 109, 37 ) 0%, rgb( 251, 176, 96 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 237, 109, 37 ) 0%, rgb( 251, 176, 96 ) 100%);
  height: 1.446cm;
  width: 8.361cm;
  /*
  position: absolute;
  left: 34.043cm;
  top: 15.663cm;
  z-index: 94;
  */
}
  