<style>
    #barraExp li{
        display: inline;
        padding: 20px;
    }
</style>
<ul id="barraExp" style="list-style: none;">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Page 1</a></li>
    <li><a href="#">Page 2</a></li>
    <li><a href="#">Page 3</a></li>
</ul>