{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/styles/barra_inferior.css')}}">
{% endblock %}


<div class='row row-no-gutters' style="padding-top: 8px;">
    <div class='col-md-2' style="padding: 0;"></div>
    <div class="col-md-10" style="padding-left: 2px; padding-right: 0px;">
        <ul id="barra_inferior" style="list-style: none;">
            <li>
                <i style="color: #ef7e3e;" class="fa fa-home"></i>
            </li>
            <li>
                <span style="border-right: 2px solid #c1bdbd; margin-right: 12px; margin-left: 10px;"></span>
            </li>
            <li>
                Todo el catálogo
            </li>
            <li>
                <span style="border-right: 2px solid #c1bdbd; margin-right: 12px; margin-left: 10px;"></span>
            </li>
            <li>
                Envíos y devoluciones
            </li>
            <li>
                <span style="border-right: 2px solid #c1bdbd; margin-right: 12px; margin-left: 10px;"></span>
            </li>
            <li>
                Términos y condiciones
            </li>
            <li>
                <span style="border-right: 2px solid #c1bdbd; margin-right: 12px; margin-left: 10px;"></span>
            </li>
            <li>
                Datos bancarios
            </li>
            <li>
                <span style="border-right: 2px solid #c1bdbd; margin-right: 12px; margin-left: 10px;"></span>
            </li>
            <li>
                Contacto
            </li>
            <li>
                <span style="border-right: 2px solid #c1bdbd; margin-right: 12px; margin-left: 10px;"></span>
            </li>
            <li>
                Mapa Web
            </li>
        </ul>
    </div>
</div>