<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenido!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{encore_entry_link_tags('app')}}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    {% include 'header.html.twig' %}
    <body>
        {% include 'barra1.html.twig' %}
        {% include 'barra2.html.twig' %}

        <div class='container-fluid'>
            <div class='row row-no-gutters'>
                <ul class='listaDeElementos col-md-2 border miSideBar' style="padding: 0;">
                    {% include 'carritoSection.html.twig' %}
                <li class='h4 font-weight-light bg-dark' style="text-align: center; padding: 5px; color: white;">
                    Categorías
                </li>
                {% for cat in category_repo.getRaices() %}      
                    {{ render(controller('App\\Controller\\IndexController::createPanelResponse', {'categoria': cat})) }}          
                {% endfor %}
                </ul>
                {% block body %}{% endblock %}
            </div>
        </div> 
    </body>
</html>