
<div style="padding: 20px; ">
    <i class="fas fa-shopping-cart fa-3x" style="opacity: 80%; color: orangered;"></i>
    <a class="btn btn-lg btn-primary" 
    style="width: 100%; background-color: orange; border-width: 0px; 
    margin-bottom: 7px; margin-top: 7px;" href="{{url('changeOrdenAmounts')}}">
    Ver carrito
    </a>
</div>