{% extends 'base.html.twig' %}

{% block barra %}
<nav class="navbar navbar-expand-lg"> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                                <a class="nav-link" href=''>Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="">Mi perfil</a>
                        </li>

                        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{url('app_login')}}">Iniciar sesión</a>
                        </li>
                        {% endif %}
                        
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item dropdown" *ngIf='isLoggedIn()'>
                            <a class="nav-link dropdown-toggle" data-toggle='dropdown'>
                                    {{app.user.nombre}}
                            </a>
                            <a href="{{url('app_logout')}}" class="nav-link dropdown-toggle" data-toggle='dropdown'>
                                Cerrar sesión
                            </a>
                            <div class="dropdown-menu">
                                    <a class="dropdown-item">Cerrar sesión</a>
                            </div>
                        </li> 
                        {% endif %}
      
                </ul>

                <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto..." aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><fa-icon [icon]="search"></fa-icon></button>
                </form>
        </div>
        </nav>
{% endblock %}