{% block stylesheets %}
        {{encore_entry_link_tags('header')}}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('header') }}
{% endblock %}


<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="padding-left: 20px; padding-right: 10px;">
                {#<img src="{{ asset('images/xatem.png') }}" style="width: 100%;">#}
                <div class="font-weight-bold" id="cartel" style="font-size: 100px; margin-bottom: 0px;">
                    <div id="laX">X</div><div>atem</div>
                </div>
                <p class="h5 font-weight-lighter" style="color: grey; width: 100%;">
                    Todo lo que buscas... y mucho más!
                </p>
                <p style="color: orangered; opacity: 80%;">
                    <i class="fa fa-envelope"></i> 
                    xatem-mail@hotmail.com
                    <br>
                    <i class="fa fa-phone"></i>
                    555 222 444 21
                </p>
            </div>
            <div class="col-md-3" style="padding: 0px; margin: 0px;">    
                <ul class="miul">
                    <li class="h5 font-weight-normal">
                        <i class='fa fa-tag'></i>
                        Descuentos por cantidades</li>
                    <li class="h5 font-weight-normal">
                        <i class='fa fa-tag'></i>
                        Venta al por mayor B2B</li>
                    <li class="h5 font-weight-normal">
                        <i class='fa fa-tag'></i>
                        Proveedor dropshipping</li>
                </ul>    
            </div>
            <div class="col-md-5 losPagos" style="margin-right: 0px;">
                <table class="table">
                    <tbody>
                            <tr>
                                <td>
                                    <i class="fa fa-dollar"></i>
                                    <p>Contra reembolso</p>
                                </td>
                                <td>
                                    <i class="fa fa-paypal"></i>
                                    <p>PyPal</p>
                                </td>
                                <td>
                                    <i class="fa fa-credit-card"></i>
                                    <p>Tarjeta de crédito</p>
                                </td>
                                <td>
                                    <i class="fa fa-exchange"></i>
                                    <p>Transferencia bancaria</p>
                                </td>
                            </tr>
                    </tbody>
                </table> 
                <p class="h2 font-weight-normal" style="color: maroon; margin-bottom: 10px; text-align: center;">
                    ¡Paga como quieras!
                </p>
            </div>
        </div>
    </div>
</header>