a{
    color: royalblue;
    color: saddlebrown;
    color: aqua;
    color: white;
    color: yellow;
    color: greenyellow;
    color: orangered;
    color: olive;
    color: orange;
    color: orchid;
    color: magenta;
    color: maroon;
    color: mediumblue;
    color: mediumorchid;
    color: mediumseagreen;
    color: mediumvioletred;
    color: lightblue;
    color: lightcoral;
    color: lightcyan;
    color: lightpink;
    color: darkcyan;
    color: darkgoldenrod;
    color: darkgreen;
    color: darkslateblue;
}